<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Table Setting Guide</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="bg-light">
    <div class="container text-center mt-5">
        <h1 class="display-4">Master the Art of Table Setting</h1>
        <p class="lead">Learn the differences between Basic, Casual, and Formal Setting</p>
        <button id="next_button" class="btn btn-primary btn-lg">Start</button>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#next_button").click(function() {
                window.location.href = '/menu';
            });
        });
    </script>
</body>
</html>
